body{
    background: #1B1C1E;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    display: block;
    list-style-type:none;
    padding-top: 100px;
    background-image: url("assets/bellabackground.png");
}
nav ul li a{
    list-style-type: none;
    color: white;
    margin: 3px;
    display: inline;
    list-style-type:none;
    padding-bottom: 100px;
}
a ul li{
    list-style-type: none;
    color: white;
    margin: 3px;
    display: inline;
    list-style-type:none;
}
footer{
    position: fixed;
    bottom: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}